div{
    background-color: rgb(4, 128, 39);
    padding: 10px;
    text-align: center;
    <p style="background-image:url(./images/Bharatiya_Janata_Party_logo.svg.png);width: 50px; height: 500px;">xdzfvb</p>
}
h1{
    color: black;
    padding: 30px;
}
p{
    font-style:italic ;

}
 iframe{
    viewport-fit: centre;
 }